<div ng-controller="editLekaCtrl">
	<h3>Izmena podataka o leku</h3>
 
				<form>
					<div class="form-group">
						<label for="naziv">Naziv</label>
						<input type="text" class="form-control" id="naziv" ng-model="stariLek.naziv">
					</div>
					<div class="form-group">
						<label for="pisac">Genericki naziv</label>
						<input type="text" class="form-control" id="pisac" ng-model="stariLek.generickiNaziv">
					</div>
					<div class="form-group">
						<label for="isbn">Kolicina na stanju</label>
						<input type="text" class="form-control" id="isbn" ng-model="stariLek.kolicina">
					</div>
					 
					<div class="form-group">
						<label for="cena">Cena</label>
						<input type="text" class="form-control" id="cena" ng-model="stariLek.cena">
					</div>
					<div class="form-group">
						<label for="pro">Proizvodjac</label>
						<select id="pro" class="form-control" ng-model="stariLek.proizvodjacId">
							<option ng-repeat="p in proizvodjaci" value="{{p.id}}">
							{{p.naziv}}
							</option>
						</select>						
					</div>
					
					<div class="form-group">
						<label for="apoteka">Apoteka</label>
						<select id="apoteka" class="form-control" ng-model="stariLek.apotekaId">
							<option ng-repeat="a in apoteke" value="{{a.id}}">
							{{a.naziv}}
							</option>
						</select>						
					</div>
					<button class="btn btn-primary" ng-click="editStariLek()">Izmeni</button>
				</form>
			</div>
					
				
</div>