<div>
	<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="text-center"><h1 class="display-3">Apoteka Mirkovic</h1></div>
   <div class="text-center" > <h3>Dobrodosli!</h3></div>
  </div>
</div>
	<div class="text-center">
	<div class="row">
	 <img src="/assets/img/logo.png" class="img-circle center-block img-responsive" width="460" height="460">
	</div>
	</div>
	
</div>