<div ng-controller="kupovinaLekaCtrl">

	<br><br><br>	
	<h3>Kupovina leka</h3>
	<br><br>
	<div class="container" >
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<table class="table table-condensed">
				<tbody>
				<tr class="active">
					<td>Naziv lek:</td><td>{{stariLek.naziv}}</td>
				</tr>
				<tr>
					<td>Genericki naziv leka:</td><td>{{stariLek.generickiNaziv}}</td>
				</tr>
				<tr class="active">
					<td>Kolicina na stanju:</td><td>{{stariLek.kolicina}}</td>
				</tr>	
				<tr>
					<td>Cena:</td><td>{{stariLek.cena}}</td>
				</tr>	
				<tr class="active">
					<td>Proizvodjac:</td><td>{{stariLek.proizvodjacNaziv}}</td>
				</tr>	
				<tr>
					<td>Apoteka:</td><td>{{stariLek.apotekaNaziv}}</td>
				</tr>
				
			</tbody>
			
			</table>
			
		</div>	
		
	</div>	
	<br><br>
	<div>
		<form  class="form-inline">
				<div class="form-group">
						<label for="kolicina">Kolicina</label>
						<input type="text" class="form-inline" id="kolicina" ng-model="kupovina.kolicina">
					</div>
						<button ng-disabled="stariLek.kolicina < 1" ng-click="kupiLek(stariLek.id)" class="btn btn-success" >Kupi</button>
			</form>	
	</div>		
	</div>	
			
					
</div>