<div ng-controller="lekoviCtrl">
	
	
	<br>	<br>
	<div class="page-header"  >
		<div class="text-center"><h2>Lekovi</h2></div>
	</div>

		<div>
			<div >
				<h3>Dodavanje leka</h3>
				<form>
					<div class="form-group">
						<label for="naziv">Naziv</label>
						<input type="text" class="form-control" id="naziv" ng-model="noviLek.naziv">
					</div>
					<div class="form-group">
						<label for="pisac">Genericki naziv</label>
						<input type="text" class="form-control" id="pisac" ng-model="noviLek.generickiNaziv">
					</div>
					<div class="form-group">
						<label for="isbn">Kolicina na stanju</label>
						<input type="number" class="form-control" id="isbn" ng-model="noviLek.kolicina">
					</div>
					 
					<div class="form-group">
						<label for="cena">Cena</label>
						<input type="number" class="form-control" id="cena" ng-model="noviLek.cena">
					</div>
					<div class="form-group">
						<label for="pro">Proizvodjac</label>
						<select id="pro" class="form-control" ng-model="noviLek.proizvodjacId">
							<option ng-repeat="p in proizvodjaci" value="{{p.id}}">
							{{p.naziv}}
							</option>
						</select>						
					</div>
					
					<div class="form-group">
						<label for="apoteka">Apoteka</label>
						<select id="apoteka" class="form-control" ng-model="noviLek.apotekaId">
							<option ng-repeat="a in apoteke" value="{{a.id}}">
							{{a.naziv}}
							</option>
						</select>						
					</div>
					<button class="btn btn-primary" ng-click="addLek(noviLek.apotekaId)">Dodaj</button>
				</form>
			</div>
				<br>
			<div>
			<h3>Pretraga lekova</h3>
				<form class="form-inline">
				
				<div  class="form-group">
						<label for="apoteka">Apoteka</label>
						<select id="apoteka" class="form-inline" ng-model="trazeniLek.apotekaId ">
							<option ng-repeat="a in apoteke" value="{{a.id}}">
							{{a.naziv}}
							</option>
						</select>						
					</div>	
				<span>&nbsp&nbsp</span>
					<div  class="form-group">
						<label for="naziv">Naziv / Genericki naziv</label>
						<input type="text" class="form-inline" id="naziv" ng-model="trazeniLek.naziv">
					</div>
 
					<button class="btn btn-primary" ng-click="filtriranje(trazeniLek.apotekaId)">Pretraga</button>
					<button class="btn btn-warning pull-right" ng-click="ponistavanje()">Ponisti</button>
				</form>	
			</div>
					
		
		
		
		<div>
			<div class="btn-group pull-right">
				<button ng-disabled="pageNum==0" ng-click="page(-1)" class="btn btn-secondary"> 
				<span class="glyphicon glyphicon-menu-left"></span> Nazad</button>
				<button ng-disabled="pageNum >= totalPages-1" ng-click="page(1)" class="btn btn-secondary">
				Napred<span class="glyphicon glyphicon-menu-right"></span></button>
			</div>
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th>Naziv</th>
						<th>Genericki naziv</th>
						<th>Kolicina</th>
						<th>Cena</th>
						<th>Proizvodjac</th>
						<th>Apoteka</th>
					</tr>
				</thead>
				<tr ng-repeat="x in lekovi">
					<td>{{x.naziv}}</td>
					<td>{{x.generickiNaziv}}</td>
					<td>{{x.kolicina}}</td>
					<td>{{x.cena}}</td>
					<td>{{x.proizvodjacNaziv}}</td>
					<td>{{x.apotekaNaziv}}</td>
					<td>
					<div class="form-group">
						<button ng-disabled="x.kolicina < 1" ng-click="kupovina(x.apotekaId, x.id)" class="btn btn-success" >Kupovina</button>
					</div>
					</td>
					<td>
						<button ng-click="izmena(x.id, x.apotekaId)" class="btn btn-warning">Izmena</button>
						<button ng-click="deleteLek(x.apotekaId, x.id)" class="btn btn-danger">Brisanje</button>
					</td>
				</tr>
			</table>
			
		</div>
		
 
	</div>
</div>